.navbar{
  z-index:3;
  color:var(--dkRed);
  font-family:sans-serif;
  font-size:30px;
  font-weight:bold;
  padding:20px;
  background-color:var(--red);
  position:fixed;
  width:calc(100% - 40px);
  left:0;
  top:0;
}

.navbar .link{
  transition:color 0.2s ease;
  cursor:pointer;
  color:white;
}
.navbar .icon{
  height:35px;
  background-color:var(--dkRed);
  border-radius:100%;
  transform:translateY(5px);
}
.navbar .right{
  margin-left:5px;
  float:right;
}
